* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    color: white;
}

.container {
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    width: 90%;
    max-width: 600px;
}

.description h1 {
    font-size: 2rem;
    margin-bottom: 10px
}

.description p {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.download-section {
    margin-top: 20px;
}

.download-btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 1rem;
    color: black;
    font-weight: bold;
    background-color: #fab822;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.logo img {
    max-width: 300px;
    height: auto;
}